body
{
	margin: 0px;
}
.container
{
	height: auto;
	width: 40vw;
	margin: 20vh 22vw;
	border: 2px solid #f5f5f0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;

}
.inside
{
	width: 44vw;
	height: auto;
	margin: 1vh 1vw;
}
#top
{
	position: relative;

}
#addtask
{
	position: absolute;
	left: 33vw;
	top: 3.7vh;
	display: none;
	background-color: inherit;
	border: 0.2em solid lightgrey;
	border-radius: 0.2rem;
}#addtask:hover
{
	cursor: pointer;
}
input[type="text"]
{
	height: 5vh;
	width: 35vw;
	margin: 2.2vh 3.4vw;
	align-items: center;
	font-size: 1rem;
	background-color: lightgrey;
	border:0.2em solid lightgrey;
	border-radius: 0.5rem;
}
#list
{
	height: auto;
	width: 37vw;
	margin: 1vh 1vw;
	align-items: center;
	list-style: none;
}
#list li{
	position: relative;
	height: 4.7vh;
	width: 37vw;
}
#list li label
{
	max-width: 25vw;
	padding-left: 0.1em;
	padding-top: -0.2em;
}
#list li button
{
	position: absolute;
	left:32vw;
	border-radius: 0.8rem;
	background-color: inherit;
}
input[type="checkbox"]
{
	width: 1.2vw;
	height: 2.2vh;
}
.decor
{
	text-decoration: line-through;
}
#bottom
{
	width: 40vw;
	position: relative;
	top: -2.6vh;
	border-top: 2px solid #d6d6c2;
	border-bottom: 2px solid #d6d6c2;

}
#removeall
{
	border: none;
	background-color: inherit;
	margin-left: 1.3vw;
	margin-right: 15vw;
}
#completeall
{
	border: none;
	background-color: inherit;
}
#removeall:hover, #completeall:hover,#list li button:hover
{
cursor: pointer;

}